@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;900&display=swap');

$light: #d7e9ec;
$primary: #fab542;
$dark: #292b2b;
$red: #c64729;
$green: #517729;

@mixin easeOut {
  transition: all 0.2s ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $dark;
}

#container {
  position: relative;
  max-width: 640px;
  width: 100%;
  margin-top: 2rem;
  padding: 2rem 2rem;
  border-top: 1.5rem solid $primary;
  background: lighten($dark, 2%);
  box-shadow: 0 0.2rem 0.6rem 0.2rem rgba(darken($dark, 15%), 0.1);
}

h1 {
  color: $light;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

#guess {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 2rem 0;

  h2 {
    color: $light;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .form-container {
    display: flex;
    margin-top: 1rem;
  }

  .btn {
    padding: 0.25rem 1.5rem;
    border: none;
    border-radius: 0.1rem;
    color: $dark;
    background: $primary;
    font-size: 0.9rem;
    font-weight: 900;
    @include easeOut();

    &:hover {
      background: darken($primary, 10%);
      cursor: pointer;
      @include easeOut();
    }
  }

  .guess-input {
    border: 2px solid $light;
    padding: 0.5rem;
    border-radius: 0.1rem;
    margin-right: 0.5rem;
    background-color: $light;

    &.green {
      border-color: $green;
    }

    &.red {
      border-color: $red;
    }
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

.notification {
  position: absolute;
  padding: 1rem;
  border-radius: 0.1rem;
  box-shadow: 0 0.2rem 1rem 0.1rem rgba(darken($dark, 15%), 0.5);
  left: 2rem;
  right: 2rem;
  font-weight: 600;
  color: $light;
  animation: notify 0.4s ease-out;
}

@keyframes notify {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.green {
  background: $green;
}

.red {
  background: $red;
}
